@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 60px;
  /* Adjust this value based on the height of your navbar */
}

.navbar .container .dropdown {
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.navbar .container .navbar-brand {
  font-family: 'Poppins', sans-serif;
  margin-right: 40px;
  font-size: 23px;
  font-weight: 300;
  color: #333;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.collapse .navbar-nav .nav-item a {
  font-size: 18px;
  font-weight: 300;
  color: #333;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s;
}

.collapse .navbar-nav .nav-item a:hover {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.5s;
}

.nav-item.dropdown .dropdown-menu {
  background-color: #fff;
  /* Set a background color for the dropdown */
}

.nav-item.dropdown .dropdown-item {
  color: white;
  /* Set the font color of the dropdown items to white */
}

.nav-item.dropdown .dropdown-item:hover {
  background-color: #F3DFC9;
  /* Add a hover effect with a different background color */
}

.navbar {
  border-bottom: 3px solid #DCEE8A;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure the navbar is above other content */
  background-color: #F3DFC9;
}

.navbar .container img {
  border: 1px solid #DCEE8A;
  border-radius: 50%;
  margin-right: 20px;
}

.main-body {
  background-color: #F3DFC9;
}

.main-body .row-heading .col h1 {
  letter-spacing: 30px;
  padding-left: 30px;
}

.main-body .row-heading .col p {
  letter-spacing: 12px;
  padding-left: 30px;
}

@media (max-width: 770px) {
  .main-body .row-heading .col h1 {
    letter-spacing: 10px;
  }

  .main-body .row-heading .col p {
    letter-spacing: 4px;
  }
}

.c-item {
  height: 580px;
  border-bottom: 3px solid #DCEE8A;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.c-item .c-caption h1 {
  font-family: 'Merienda', sans-serif;
  font-weight: 900;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  padding-bottom: 120px;
  text-transform: capitalize;
}

.c-item .c-caption p {
  padding-bottom: 20px;
}

.card {
  border: 1px solid #DCEE8A;
}

.card-body {
  height: 200px;
  color: #F3DFC9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1391px) {
  .card-body {
    height: 170px;
    color: #F3DFC9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 1199px) {
  .card-body {
    height: 255px;
    color: #F3DFC9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
}

.card img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.map-container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}